.main-sec {
  padding-top: 100px;
  min-height: 100vh;
  background: $main-sec--bg;
  background-image: url(../img/main-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
