// ---- TEXT COLOR ----

$text--black: #000000;
$text--light: #0B1F35;
$text--white: #ffffff;
$text--grey: #8B8B8B;
$text--blue: #15499F;
$text--true: #04BA00;
$text--false:  #FF0021;

$text--placeholder:  #C6C6C6;

// ----- MAIN COLOR -----

$color--white: #ffffff;
$color--black: #000000;
$color--blue: #15499F;
$color--disabled: #A7A7A7;
$color--overlay: rgba(0, 0, 0, 0.3);

//  ------- BG -------

$footer--bg: #F5F5F6;
$header--bg: #FFFFFF;
$main-sec--bg: #FFFFFF;

// ------ BOX-SHADOW -------

$header-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);

// ------ FONTS -------

$font-family: "Rubik", sans-serif;
$font-family--s: "Source Sans Pro", sans-serif;

